.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100vh;
}

.noteBook {
    position: sticky;
    top: 10px;
    input {
        background-color: transparent;
        margin: 75px 47px;
        margin-bottom: 10px;
        height: 50px;        
        width: 276px;
        font-size: 35px;
        text-align: center;    
        border: none; 
    }
    textarea {
        background-color: transparent;
        margin: 0px 47px;
        width: 276px;
        height: 380px;
        font-size: 35px;
        text-align: center;  
        border: none;
    }
    #notebook {
        position: absolute;
        margin: 10px 20px;
        z-index: -1;
        width: 325px;
    }    
    #save {
        width: 70px;
        margin-left: 255px;
        margin-top: 10px;
        cursor: pointer;
        padding: 2px;
        border: transparent 2px solid;
    }    
    #save:hover {
        border: black 2px solid;
        border-radius: 20px;
    }
    #save:active {
        background-color: white;
    }
    #pencil {
        margin-left: 350px;
        position: absolute;
        height: -webkit-fill-available;
    }
}


.navBar {
    display: flex;
    justify-content: space-between;
    .showNotes {
        display: flex;
        align-items: center;
        button {
            border-right: transparent;
            border-bottom: black solid 2px;
            border-left: transparent;
            border-top: transparent;
            padding: 10px;
            background-color: transparent;
            font-size: 35px;
            font-weight: bold;
            cursor: pointer;
        }
        button:hover {
            border-bottom: white solid 2px;
        }
        button:active {
            background-color: white;
        }
        p {
            background-color: black;
            border-radius: 40%;
            padding: 0 7px;
            font-weight: bold;
            margin-top: 15px;
            margin-left: 5px;
            z-index: 1;
            color: red;
            font-size: 20px;
            text-shadow: none;
        }
    }
    .showBin {
        display: flex;
        align-items: center;
        p {
            font-weight: bold;
            position: absolute;
            margin-top: 20px;
            margin-left: 23px;
            z-index: 1;
            color: red;
            font-size: 25px;
            cursor: pointer;
            text-shadow: black 2px 2px;
        }
        button {
            border-right: transparent;
            border-bottom: black solid 2px;
            border-left: transparent;
            border-top: transparent;
            background-color: transparent;
            font-size: 35px;
            font-weight: bold;
            cursor: pointer;
            img {
                margin: 0;
            }
        }
        button:hover {
            border-bottom: white solid 2px;
        }
        button:active {
            background-color: white;
        }
    }
}

h1 {
    cursor: pointer;
}

hr {
    width: -webkit-fill-available;
    border-block-color: black;
}

.notes {  
    overflow: overlay;
    display: grid;
    margin: 10px 20px;
    height: max-content;
    text-align: center;
    p {
        font-size: 40px;
        font-weight: bold;
        text-shadow: white 2px 2px;
    }
}

.note {
    background-image: url(../../img/note.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    display: flex;
    height: 154px;
    text-align: center;
    align-items: center;
    margin: 10px 10px;
    border-radius: 20px;
    h3 {
        text-align: right;
        text-transform: uppercase;
        overflow-wrap: anywhere;
        width: 20%;
        margin: 0;
        padding: 40px;
        border-right: black solid 2px;
    }
    p {
        font-size: 18px;
        font-weight: bold;
        border-right: black solid 2px;
        padding: 10px;
        overflow-wrap: anywhere;
        width: 55%;
        margin: 0;
        text-transform:capitalize;
    }
    button {
        margin: 20px;
    }
}

.noteImg {
    width: 40px;
    height: 40px;
    margin: 20px;
    cursor: pointer;
}

.recycleBin {  
    overflow: overlay;
    display: grid;
    margin: 10px 0;
    height: max-content;
    text-align: center;
}