.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
}

.noteBook {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.noteBook input {
  background-color: transparent;
  margin: 75px 47px;
  margin-bottom: 10px;
  height: 50px;
  width: 276px;
  font-size: 35px;
  text-align: center;
  border: none;
}

.noteBook textarea {
  background-color: transparent;
  margin: 0px 47px;
  width: 276px;
  height: 380px;
  font-size: 35px;
  text-align: center;
  border: none;
}

.noteBook #notebook {
  position: absolute;
  margin: 10px 20px;
  z-index: -1;
  width: 325px;
}

.noteBook #save {
  width: 70px;
  margin-left: 255px;
  margin-top: 10px;
  cursor: pointer;
}

.noteBook #pencil {
  margin-left: 350px;
  position: absolute;
  height: -webkit-fill-available;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar .showNotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .showNotes button {
  background-color: transparent;
  border: none;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.navBar .showNotes button :active {
  border-bottom: black 2px solid;
}

.navBar .showNotes p {
  background-color: black;
  border-radius: 40%;
  padding: 0 7px;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1;
  color: red;
  font-size: 20px;
}

.navBar .showBin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .showBin p {
  font-weight: bold;
  position: absolute;
  margin-top: 30px;
  margin-left: 37px;
  z-index: 1;
  color: red;
  font-size: 25px;
  cursor: pointer;
}

h1 {
  cursor: pointer;
}

hr {
  width: -webkit-fill-available;
  border-block-color: black;
}

.notes {
  overflow: overlay;
  display: -ms-grid;
  display: grid;
  margin: 10px 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
}

.note {
  background-image: url(../../img/note.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 154px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px;
  border-radius: 20px;
}

.note h3 {
  text-align: right;
  text-transform: uppercase;
  overflow-wrap: anywhere;
  width: 20%;
  margin: 0;
  padding: 40px;
  border-right: black solid 2px;
}

.note p {
  border-right: black solid 2px;
  padding: 10px;
  overflow-wrap: anywhere;
  width: 55%;
  margin: 0;
  text-transform: capitalize;
}

.note button {
  margin: 20px;
}

.noteImg {
  width: 40px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
}

.recycleBin {
  overflow: overlay;
  display: -ms-grid;
  display: grid;
  margin: 10px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
}
/*# sourceMappingURL=PaperNote.css.map */